#header {
height: 250px;
width: 100%;
background: url('../img/log.jpg');
}
   p {
    text-indent: 20px; 
   }
body{
margin: 0;
padding: 0; 
}
.logo {float: left}
.menutop {
width: 100%;
display: flex;
display: moz-box;
display: webkit-flex;
text-align: center;
margin: 0;
color:black;
flex-direction: row;

}
.menutop a{
flex: 1;
moz-box: 1;
webkit-flex: 1;
flex: 1;
padding: 0;
font-size: 14pt;
background: white;
text-decoration: none;
}
.menutop a:hover {
background: black;
color: white;
}
.btn {
margin: 5px 0;
width: 100%;
}
.col-md-2 {
background: white;
}
.col-md-8 {
text-align: center;
}
.logo {

padding: 10px;
margin: 10px;
}
