extends layout
block content
	h2 Gallery
	div.
	<img src=("http://sergey-oganesyan.ru/wp-content/uploads/2014/01/1.jpg")/>
	<img src=("http://sergey-oganesyan.ru/wp-content/uploads/2014/01/2.jpg")/>
	<img src=("http://sergey-oganesyan.ru/wp-content/uploads/2014/01/3.jpg")/>
	<img src=("http://sergey-oganesyan.ru/wp-content/uploads/2014/01/4.jpg")/>
	<img src=("http://sergey-oganesyan.ru/wp-content/uploads/2014/01/5.jpg")/>