extends layout
block content
	form(method='POST', action='/reg')
		input(type='text', name='username', placeholder='Логин')
		input(type='password', name='password', placeholder='Пароль')
		input(type='submit', value='Ok')